<div class="mat-elevation-z4">
<table mat-table class="full-width-table" [dataSource]="employees">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <th mat-cell *matCellDef="let row">{{row.id}}</th>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <th mat-cell *matCellDef="let row">{{row.name}}</th>
    </ng-container>

    <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef>Salário</th>
        <th mat-cell *matCellDef="let row">{{row.salary | currency: 'BRL'}}</th>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <th mat-cell *matCellDef="let row">
            <a routerLink="/employees/update/{{row.id}}">
                <i class="material-icons">
                    edit
                </i>
            </a>
            <a (click)="deleteById(row.id)">
                <i class="material-icons red">
                    delete
                </i>
            </a>
        </th>
    </ng-container>

   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</div>

<!--
<ul>
    <li *ngFor="let employee of employees">
        {{employee.name}}
    </li>
</ul>
-->