.header {
    display: flex;
    align-items: center;
    background-color: silver;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header p {
 
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 50px;
}
.header .title-group i{
    padding-right: 5px;
}