<mat-toolbar class="header">
<span>
    <a routerLink="">
        <img src="assets/img/logo.jpg" alt="logo" class="logo">
        
    </a>
</span>
<span class="title-group">
    <a>
        <i class="material-icons">home</i>
        Início
    </a>
</span>
</mat-toolbar>
