.sidenav {
    background-color: royalblue;
    width: 200px;
}

.sidenav a {
    color: seashell;
}

.sidenav i {
    padding-right: 5px;
}

.content {
    padding: 16px;
    background-color: ghostwhite;
}