<mat-card>
    <mat-card-title>Criar Empregado</mat-card-title>
    <form >
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="employee.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="employee.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Salário (R$)" [(ngModel)]="employee.salary" name="salary">
        </mat-form-field>
    </form>    
</mat-card>
<button mat-raised-button color="primary" (click)="createEmployee()">Criar</button>

<button mat-raised-button (click)="cancel()">Cancelar</button>
