<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem vindo!
    </mat-card-title>

    <mat-card-subtitle class="subtitle">
        Sistema que vai consumir uma API em php, que faz um crud de empregados.
    </mat-card-subtitle>
</mat-card>
<ul>
  <li *appFor="let n em [1, 2, 3]">{{this.n}}</li>
</ul>
