<mat-card>
    <mat-card-title>Editar Empregado</mat-card-title>
    <form >
        <mat-form-field>
            <input matInput placeholder="Nome" name="name" [(ngModel)]="employee.name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="employee.email"  name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Salário (R$)" [(ngModel)]="employee.salary" name="salary">
        </mat-form-field>
    </form>    
</mat-card>
<button mat-raised-button color="primary" (click)="updateProduct()">Editar</button>

<button mat-raised-button (click)="cancel()">Voltar</button>
