<mat-toolbar class="footer">
    <span>
        Desenvolvido com
        <i class="material-icons v-middle" appRed>
            favorite
        </i>
        por <strong> João Victor Correia</strong>
    </span>

</mat-toolbar>
